[Unit]
Description=Chat for Communities and Friends

[Service]
ExecStart=/usr/bin/discord-canary
MemoryAccounting=true
MemoryHigh=912M
MemoryMax=1.2G

[Install]
WantedBy=default.target
